<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
</head>
<body>
    <h3>Edit Chat <!-- ID - <%= chat._id %> --></h3>
    <p>This message was send from <strong><%= chat.from %></strong> to <strong><%= chat.to %></strong></p>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <textarea name="msg" rows="3"><%= chat.msg  %></textarea> <br><br>
        <button>Edit Message</button>
    </form>
</body>
</html>